 @media screen and (max-width:750px){
    .nav-toggle{
        display: block;
    }
    .nav-links{
        display: none;
} 
 .title{
  font-size: 2rem;
  line-height: 2rem;
 }
 .description{
  font-size: 0.9rem;
 }
  /* .about{
    height: 100vh;
  } */

 .img{
    margin-right: 3rem;

 }
 .contact-up {
    left: 35%;
 }
 .span2{
    font-size: 0.7rem;
 }
 .section_container{
  gap: 1rem;
 }

}

@media screen and (max-width:346px){
  .btn button{
    padding: 0.9rem 0.5rem;
  }
}
   

@media screen and (max-width:479px){
   
   
    .section_container{
      flex-direction: column-reverse;
      padding: 10rem 1rem 14rem 0;
        text-align: center;
        gap: 1rem;
        margin-top: 8rem;
    }
  
    

    .img{
      border-radius:1px;
      margin-top: 4rem;
      height: 100%;
      width: 60%;
      margin-left: 2rem;
    }
  
    .description{
      font-size: 0.9rem;
      color: black;
  
     }
     .about{
      grid-template-columns: repeat(1, 1fr);
      padding: 0 1rem 2rem 1rem;
     }
     .abt-img img{
      position: relative;
      left: 20%;
      width: 60%;
     }
     .about-text{
      text-align: center;
     }
     .education i{
      margin-left: 1rem;
     }
     .edu-second-text{
     margin-bottom: 3rem;
     }

     .abt-btn {
      left: 11rem;
     }
     .project-img img {
      width: 80%;
      margin-left: 1.5rem;
     }
     
    }
